* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.carousel-container{
    margin: auto;
    width: 1024px;
    border: 3px solid seagreen;
    overflow: hidden;
}



.carousel-image-wrapper{
     
    display: flex;
    border: 3px solid black; 
    
    width: 100%;
   
}

.radioBtn.active{
    border: 3px solid rgba(73, 13, 13, 0.719);
    color: seagreen;
  }

  .radioBtn input{
    background-color: rgba(255, 255, 255, 0.418);
    border-radius: 50%;
    cursor: pointer;
  }
